In [29]:
import selenium
from selenium import webdriver
import pandas as pd
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [30]:
driver = webdriver.Chrome()

In [31]:
from selenium.common.exceptions import NoSuchElementException

In [32]:
from selenium.common.exceptions import TimeoutException

# Question1

In [43]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

time.sleep(5)

top_vids = driver.find_element(By.ID,"toc-Top_videos")
top_vids.click()


rank = []
title = []
uploader = []
views = []
date = []

ranking = driver.find_elements(By.XPATH,'//table/tbody/tr/td[1]')
for i in ranking [1:31]:
    rank.append(i.text.replace('.',''))
    
name = driver.find_elements(By.XPATH,'//table/tbody/tr/td[2]')
for i in name [1:31]:
    title.append(i.text)
    
artist = driver.find_elements(By.XPATH,'//table/tbody/tr/td[3]')
for i in artist [0:30]:
    uploader.append(i.text)    

view = driver.find_elements(By.XPATH,'//table/tbody/tr/td[4]')
for i in view [0:30]:
    views.append(i.text)
    
dates = driver.find_elements(By.XPATH,'//table/tbody/tr/td[5]')
for i in dates [0:30]:
    date.append(i.text)

In [47]:
top_videos = pd.DataFrame({'Rank':rank,'Video Title': title, 'Uploader': uploader, 'Views(Billions)':views, 'Upload Date':date})

In [49]:
top_videos

,Rank,Video Title,Uploader,Views(Billions),Upload Date
0,1,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.29,"June 17, 2016"
1,2,"""Despacito""[9]",Luis Fonsi,8.25,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""[16]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.78,"October 8, 2016"
3,4,"""Bath Song""[17]",Cocomelon - Nursery Rhymes,6.38,"May 2, 2018"
4,5,"""Shape of You""[18]",Ed Sheeran,6.07,"January 30, 2017"
5,6,"""See You Again""[21]",Wiz Khalifa,6.01,"April 6, 2015"
6,7,"""Wheels on the Bus""[26]",Cocomelon - Nursery Rhymes,5.53,"May 24, 2018"
7,8,"""Phonics Song with Two Words""[27]",ChuChu TV Nursery Rhymes & Kids Songs,5.47,"March 6, 2014"
8,9,"""Uptown Funk""[28]",Mark Ronson,5.02,"November 19, 2014"
9,10,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV,4.96,"February 27, 2018"
10,11,"""Gangnam Style""[30]",officialpsy,4.88,"July 15, 2012"
11,12,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,4.56,"January 31, 2012"
12,13,"""Dame Tu Cosita""[36]",Ultra Records,4.43,"April 5, 2018"
13,14,"""Axel F""[37]",Crazy Frog,4.04,"June 16, 2009"
14,15,"""Sugar""[38]",Maroon 5,3.93,"January 14, 2015"
15,16,"""Counting Stars""[39]",OneRepublic,3.86,"May 31, 2013"
16,17,"""Roar""[40]",Katy Perry,3.86,"September 5, 2013"
17,18,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.76,"June 25, 2018"
18,19,"""Waka Waka (This Time for Africa)""[42]",Shakira,3.71,"June 4, 2010"
19,20,"""Sorry""[43]",Justin Bieber,3.70,"October 22, 2015"
20,21,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.67,"June 14, 2018"
21,22,"""Thinking Out Loud""[45]",Ed Sheeran,3.65,"October 7, 2014"
22,23,"""Dark Horse""[46]",Katy Perry,3.58,"February 20, 2014"
23,24,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.54,"January 26, 2018"
24,25,"""Perfect""[48]",Ed Sheeran,3.53,"November 9, 2017"
25,26,"""Faded""[49]",Alan Walker,3.51,"December 3, 2015"
26,27,"""Let Her Go""[50]",Passenger,3.50,"July 25, 2012"
27,28,"""Girls Like You""[51]",Maroon 5,3.47,"May 31, 2018"
28,29,"""Lean On""[52]",Major Lazer Official,3.45,"March 22, 2015"
29,30,"""Bailando""[53]",Enrique Iglesias,3.45,"April 11, 2014"

In [50]:
driver.close()

# Question2

In [13]:
driver.get('https://www.bcci.tv/')

driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a').click()

In [14]:
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[1]').click()
search_field = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[2]/div[1]/input')
search_field.send_keys('India')
india = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[2]/div[3]')
india.click()

In [20]:
for clicks in range(1,5):
    more_fixtures = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button')
    more_fixtures.click()

In [26]:
title_place = []
date = []
time = []
series = []

serie = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')   
for i in serie:
    series.append(i.text)
    
dates = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')   
for i in dates:
    date.append(i.text) 
    
times = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')   
for i in times:
    time.append(i.text)
    
t_p = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')   
for i in t_p:
    title_and_place= i.text.split('-',1)  
    title_place.append(title_and_place)

In [28]:
title_with_place = pd.DataFrame(title_place,columns=['title','place'])

In [32]:
india_fixtures = pd.DataFrame({'Match Title': title_with_place['title'],'Series': series, 'Date':date, 'Time':time, 'Venue': title_with_place['place']})

In [33]:
india_fixtures

,Match Title,Series,Date,Time,Venue
0,4th ODI,ASIA CUP 2023,12 SEP 2023,10:30 AM BST,"R Premadasa International Stadium, Colombo"
1,5th ODI,ASIA CUP 2023,15 SEP 2023,10:30 AM BST,"R Premadasa International Stadium, Colombo"
2,1st ODI,AUSTRALIA TOUR OF INDIA 2023-24,22 SEP 2023,9:00 AM BST,"Punjab Cricket Association IS Bindra Stadium,..."
3,2nd ODI,AUSTRALIA TOUR OF INDIA 2023-24,24 SEP 2023,9:00 AM BST,"Holkar Cricket Stadium, Indore"
4,3rd ODI,AUSTRALIA TOUR OF INDIA 2023-24,27 SEP 2023,9:00 AM BST,"Saurashtra Cricket Association Stadium, Rajkot"
5,1st ODI,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,30 SEP 2023,9:30 AM BST,"Barsapara Cricket Stadium, Guwahati"
6,1st T20I,19TH ASIAN GAMES 2023,3 OCT 2023,2:00 AM BST,"Pingfeng Cricket Field, Hangzhou"
7,2nd ODI,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,3 OCT 2023,9:30 AM BST,"Greenfield International Stadium, Thiruvanant..."
8,1st ODI,ICC MENS WORLD CUP 2023,8 OCT 2023,9:30 AM BST,"MA Chidambaram Stadium, Chennai"
9,2nd ODI,ICC MENS WORLD CUP 2023,11 OCT 2023,9:30 AM BST,"Arun Jaitley Stadium, Delhi"
10,3rd ODI,ICC MENS WORLD CUP 2023,14 OCT 2023,9:30 AM BST,"Narendra Modi Stadium, Ahmedabad"
11,4th ODI,ICC MENS WORLD CUP 2023,19 OCT 2023,9:30 AM BST,"Maharashtra Cricket Association Stadium, Pune"
12,5th ODI,ICC MENS WORLD CUP 2023,22 OCT 2023,9:30 AM BST,"Himachal Pradesh Cricket Association Stadium,..."
13,6th ODI,ICC MENS WORLD CUP 2023,29 OCT 2023,8:30 AM BST,Bharat Ratna Shri Atal Bihari Vajpayee Ekana ...
14,7th ODI,ICC MENS WORLD CUP 2023,2 NOV 2023,8:30 AM BST,"Wankhede Stadium, Mumbai"
15,8th ODI,ICC MENS WORLD CUP 2023,5 NOV 2023,8:30 AM BST,"Eden Gardens, Kolkata"
16,9th ODI,ICC MENS WORLD CUP 2023,12 NOV 2023,8:30 AM BST,"M Chinnaswamy Stadium, Bengaluru"
17,1st T20I,AUSTRALIA TOUR OF INDIA 2023-24,23 NOV 2023,1:30 PM BST,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stad...
18,2nd T20I,AUSTRALIA TOUR OF INDIA 2023-24,26 NOV 2023,1:30 PM BST,"Greenfield International Stadium, Thiruvanant..."
19,3rd T20I,AUSTRALIA TOUR OF INDIA 2023-24,28 NOV 2023,1:30 PM BST,"Barsapara Cricket Stadium, Guwahati"
20,4th T20I,AUSTRALIA TOUR OF INDIA 2023-24,1 DEC 2023,1:30 PM BST,"Vidarbha Cricket Association Stadium, Nagpur"
21,5th T20I,AUSTRALIA TOUR OF INDIA 2023-24,3 DEC 2023,1:30 PM BST,"Rajiv Gandhi International Stadium, Hyderabad"
22,1st T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,10 DEC 2023,4:00 PM BST,"Kingsmead, Durban"
23,2nd T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,12 DEC 2023,4:00 PM BST,"St George's Park, Gqeberha"
24,3rd T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,14 DEC 2023,4:00 PM BST,"The Wanderers Stadium, Johannesburg"
25,1st ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,17 DEC 2023,8:30 AM BST,Johannesburg
26,2nd ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,19 DEC 2023,8:30 AM BST,"St George's Park, Gqeberha"
27,3rd ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,21 DEC 2023,8:30 AM BST,"Boland Park, Paarl"
28,1st Test,INDIA TOUR OF SOUTH AFRICA 2023-24,26 DEC 2023,8:00 AM BST,"SuperSport Park, Centurion"
29,2nd Test,INDIA TOUR OF SOUTH AFRICA 2023-24,3 JAN 2024,8:00 AM BST,"Newlands, Cape Town"
30,1st T20I,AFGHANISTAN TOUR OF INDIA 2023-24,11 JAN 2024,1:30 PM BST,"Punjab Cricket Association IS Bindra Stadium,..."
31,2nd T20I,AFGHANISTAN TOUR OF INDIA 2023-24,14 JAN 2024,1:30 PM BST,"Holkar Cricket Stadium, Indore"
32,3rd T20I,AFGHANISTAN TOUR OF INDIA 2023-24,17 JAN 2024,1:30 PM BST,"M Chinnaswamy Stadium, Bengaluru"
33,1st Test,ENGLAND TOUR OF INDIA 2023-24,25 JAN 2024,4:00 AM BST,"Rajiv Gandhi International Stadium, Hyderabad"
34,2nd Test,ENGLAND TOUR OF INDIA 2023-24,2 FEB 2024,4:00 AM BST,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stad...
35,3rd Test,ENGLAND TOUR OF INDIA 2023-24,15 FEB 2024,4:00 AM BST,"Saurashtra Cricket Association Stadium, Rajkot"
36,4th Test,ENGLAND TOUR OF INDIA 2023-24,23 FEB 2024,4:00 AM BST,"JSCA International Stadium Complex, Ranchi"
37,5th Test,ENGLAND TOUR OF INDIA 2023-24,7 MAR 2024,4:00 AM BST,"Himachal Pradesh Cricket Association Stadium,..."

In [9]:
driver.close()

# Question3

In [68]:
driver.get('https://www.statisticstimes.com/')

economy = driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()
india = driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

try:
    state = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
    state.click()
    time.sleep(30)
except NoSuchElementException:
    driver.refresh() 
    time.sleep(5)
    state = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
    state.click()
    time.sleep(30)

    
for _ in range(50):
    driver.execute_script('window.scrollBy(0,30)')
    
try: 
    delay = 10
    WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.ID,"table_id")))
except TimeoutException:
    driver.refresh()    
    delay = 10
    WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.ID,"table_id")))
    
    
ranking = []
state = []
gsdp1819=[]
gsdp1920=[]
share = []
gdp = []

ranks = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
for i in ranks:
    ranking.append(i.text)
    
states = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
for i in states:
    state.append(i.text)
       
g1819 = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
for i in g1819:
    gsdp1819.append(i.text)
    
g1920 = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
for i in g1920:
    gsdp1920.append(i.text)
    
shares = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
for i in shares:
    share.append(i.text)
    
gdps = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
for i in gdps:
    gdp.append(i.text)

In [71]:
gsdp = pd.DataFrame({'Rank':ranking,'State':state,'GSDP 18-19 (at current prices)':gsdp1819,'GSDP 19-20 (at current prices)':gsdp1920,'Share':share,'GDP(Billion$)':gdp})

In [72]:
gsdp

,Rank,State,GSDP 18-19 (at current prices),GSDP 19-20 (at current prices),Share,GDP(Billion$)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [73]:
driver.close()

# Question4

In [81]:
driver.get('https://github.com/')

driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button').click()
driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()
driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a').click()

In [84]:
url = []

links = driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in links:
    url.append(i.get_attribute('href'))

In [92]:
description = []

desc = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc:
    description.append(i.text)

In [114]:
name = []
language = []
contributors = []

for i in url:
    driver.get(i)
    time.sleep(5)
    try:
        names = driver.find_element(By.XPATH,'//strong[@itemprop="name"]')
        lang = driver.find_element(By.XPATH,'//li[@class="d-inline"]')
        cont = driver.find_element(By.XPATH,'//a[contains(.,"Contributors")]')
        name.append(names.text)
        language.append(lang.text.replace('\n',''))
        contributors.append(cont.text.replace('Contributors\n',''))
    except NoSuchElementException:
        name.append('nan')
        language.append('nan')
        contributors.append('nan')

In [117]:
trending_repos = pd.DataFrame({'Name':name,'Description':description,'Language used':language,'No. of Contributors':contributors})

In [118]:
trending_repos

,Name,Description,Language used,No. of Contributors
0,Fooocus,Focus on prompting and generating,Python99.5%,4
1,tldraw,a very good whiteboard,TypeScript95.0%,125
2,makepad,Makepad is a creative software development pla...,Rust95.8%,17
3,aidea-server,AIdea 是一款支持 GPT 以及国产大语言模型通义千问、文心一言等，支持 Stable ...,Go99.9%,2
4,facechain,FaceChain is a deep-learning toolchain for gen...,Python97.9%,22
5,hello-algo,"《Hello 算法》：动画图解、一键运行的数据结构与算法教程，支持 Java, C++, P...",Java18.6%,99
6,aidea,AIdea 是一款支持 GPT 以及国产大语言模型通义千问、文心一言等，支持 Stable ...,Dart74.0%,3
7,d2l-zh,《动手学深度学习》：面向中文读者、能运行、可讨论。中英文版被70多个国家的500多所大学用于教学。,Python75.3%,249
8,machine-learning-zoomcamp,The code from the Machine Learning Bookcamp bo...,Jupyter Notebook99.3%,68
9,voice-changer,リアルタイムボイスチェンジャー Realtime Voice Changer,Python65.5%,14
10,bun,"Incredibly fast JavaScript runtime, bundler, t...",Zig44.0%,334
11,Web-Dev-For-Beginners,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",JavaScript77.6%,212
12,Medusa,Medusa: Simple Framework for Accelerating LLM ...,Python78.9%,4
13,hackingtool,ALL IN ONE Hacking Tool For Hackers,Python89.8%,32
14,practical-aspnetcore,"Practical samples of ASP.NET Core 2.1, 2.2, 3....",C#72.6%,30
15,Automatic_ticket_purchase,大麦网抢票脚本,Python86.3%,2
16,awesome-quant,"A curated list of insanely awesome libraries, ...",Python99.7%,74
17,nan,本项目可以帮助小鹏P5和小鹏G9开启adb和网络adb,nan,nan
18,elysia,"Fast, and friendly Bun web framework",TypeScript99.5%,13
19,angular,The modern web developer’s platform,TypeScript84.7%,"1,775"
20,nan,List of Computer Science courses with video le...,nan,nan
21,nan,Explanation to key concepts in ML,nan,nan
22,llama2.c,Inference Llama 2 in one file of pure C,Python56.9%,71
23,evolutionary-architecture-by-example,Navigate the complex landscape of .NET softwar...,C#99.2%,2
24,nodebestpractices,✅ The Node.js best practices list (July 2023),Dockerfile87.9%,

In [119]:
driver.close()

# Question5

In [10]:
driver.get('https://www.billboard.com/')

driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button').click()
driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a').click()
driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a').click()

In [12]:
table = []

rows = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]')
for i in rows:
    table.append(i.text.split('\n'))

In [13]:
chart = pd.DataFrame(table, columns=['Rank','Song','Singer','Last Week Rank','Peak Position','Weeks on Chart','award'])

In [39]:
import numpy as np

In [44]:
chart['Song'].replace('NEW', np.nan, inplace=True)

In [46]:
chart['Song'].replace('RE- ENTRY', np.nan, inplace=True)

In [50]:
m = chart['Song'].isna()
chart.loc[m, ['Song','Singer','Last Week Rank','Peak Position','Weeks on Chart','award']] = chart.loc[m, ['Song','Singer','Last Week Rank','Peak Position','Weeks on Chart','award']].shift(-1, axis=1)

In [52]:
chart['Last Week Rank'].replace('-', np.nan, inplace=True)

In [54]:
n = chart['Last Week Rank'].isna()
chart.loc[n, ['Peak Position','Weeks on Chart','award']] = chart.loc[n, ['Peak Position','Weeks on Chart','award']].shift(-1, axis=1)

In [60]:
charts = chart.drop(columns='award')

In [61]:
charts

,Rank,Song,Singer,Last Week Rank,Peak Position,Weeks on Chart
0,1,Paint The Town Red,Doja Cat,3,1,5
1,2,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,1,1,2
2,3,Fast Car,Luke Combs,2,2,24
3,4,Cruel Summer,Taylor Swift,5,3,18
4,5,Last Night,Morgan Wallen,4,1,32
...,...,...,...,...,...,...
95,96,Stand By Me,Lil Durk Featuring Morgan Wallen,93,22,15
96,97,Call Your Friends,Rod Wave,85,26,3
97,98,Your Heart Or Mine,Jon Pardi,72,47,17
98,99,Primera Cita,Carin Leon,97,97,2
99,100,S91,Karol G,86,45,6

# Question6

In [139]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [141]:
book = []
author = []
vol = []
publisher = []
book_genre = []


names = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in names:
    book.append(i.text)
    
writer = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in writer:
    author.append(i.text)
    
volume = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volume:
    vol.append(i.text)
    
publishers = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publishers:
    publisher.append(i.text)
    
book_genres = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in book_genres:
    book_genre.append(i.text)

In [146]:
best_sellers = pd.DataFrame({'Book Title':book, 'Author':author, 'Volume Sold': vol, 'Publisher':publisher,'Genre':book_genre})

In [147]:
best_sellers

,Book Title,Author,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [148]:
driver.close()

# Question7

In [73]:
driver.get('https://www.imdb.com/list/ls095964455/')


name = []
span = []
genre = []
runtime = []
rate = []
vote = []

names = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in names:
    name.append(i.text.split('(',1))
    
dates = driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in dates:
    span.append(i.text)
    
genres = driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genres:
    genre.append(i.text)
    
runtimes = driver.find_elements(By.XPATH,'//span[@class="runtime"]') 
for i in runtimes:
    runtime.append(i.text)
    
rating = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]') 
for i in rating:
    rate.append(i.text.replace('\nRate',''))
    
votes = driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in votes:
    vote.append(i.text)

In [74]:
title_date = pd.DataFrame(name,columns=['title','year'])

In [75]:
top_series = pd.DataFrame({'Series Title': title_date['title'],'Year Span':span,'Genre':genre,'Runtime':runtime,'Rating out of 10':rate,'Number of Votes':vote})

In [76]:
top_series

,Series Title,Year Span,Genre,Runtime,Rating out of 10,Number of Votes
0,1. Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,203,112"
1,2. Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,274,912"
2,3. The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,045,374"
3,4. 13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"307,237"
4,5. The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"266,343"
...,...,...,...,...,...,...
95,96. Reign,(2013–2017),Drama,42 min,7.5,"52,702"
96,97. A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,754"
97,98. Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"210,958"
98,99. Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,880"
99,100. The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"265,719"

In [77]:
driver.close()

# Question8

In [ ]:
driver.get('https://archive.ics.uci.edu/')

driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]').click()

time.sleep(5)

dataset = []
url = []

for page in range(0,65):
    data = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in data:
        dataset.append(i.text)
        url.append(i.get_attribute('href'))    
    next_button = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_button.click()
    time.sleep(3)

In [35]:
date =[]
detail = []

for i in url: 
    driver.get(i)
    time.sleep(5)
    try:
        dates = driver.find_element(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
        date.append(dates.text.split('/'))
    except NoSuchElementException:
        date.append('nan')
        
for i in url: 
    driver.get(i)
    time.sleep(5)        
    details = driver.find_elements(By.XPATH,'//div[@class="col-span-4"]')
    for item in details:
        detail.append(item.text)

In [40]:
year_date = pd.DataFrame(date,columns=['day','month','year'])

In [54]:
d_type = []
task = []
f_type = []
instance = []
f_no = []

for i in range(0,3894,6):
    d_type.append(detail[i].replace('Dataset Characteristics\n',''))
    
for i in range(2,3894,6):
    task.append(detail[i].replace('Associated Tasks\n',''))    

for i in range(3,3894,6):
    f_type.append(detail[i].replace('Feature Type\n','')) 
    
for i in range(4,3894,6):
    instance.append(detail[i].replace('# Instances\n',''))  
    
for i in range(5,3894,6):
    f_no.append(detail[i].replace('# Features\n',''))

In [55]:
datasets = pd.DataFrame({'Dataset Name':dataset,'Data Type':d_type,'Associated Tasks':task,'Feature Type':f_type,'No. of Instances':instance,'No. of Features':f_no,'Year Donated':year_date['year']})

In [56]:
datasets

,Dataset Name,Data Type,Associated Tasks,Feature Type,No. of Instances,No. of Features,Year Donated
0,Iris,Tabular,Classification,Real,150,4,1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,2020
4,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20,n
...,...,...,...,...,...,...,...
644,Cirrhosis Patient Survival Prediction Dataset,Tabular,Classification,"Real, Categorical",418,18,2023
645,MOVER: Medical Informatics Operating Room Vita...,"Tabular, Sequential, Multivariate, Time-Series","Classification, Regression, Clustering, Other",-,83468,-,2023
646,Average Localization Error (ALE) in sensor nod...,Multivariate,Regression,Real,107,4,2023
647,TamilSentiMix,"Multivariate, Text",Classification,Categorical,15744,-,2023
648,Visegrad Group companies data,Multivariate,"Classification, Clustering",Real,85,83,2023